In [8]:
import pandas as pd
dataset1=pd.read_csv('C:\Machine Learning\Assignments\general_data.csv')
dataset1["Attrition"].replace(to_replace=("No","Yes"),value=(0,1),inplace=True)
dataset1["Gender"].replace(to_replace=("Male","Female"),value=(0,1),inplace=True)
dataset1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,0,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,0,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,0,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,1,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,0,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,0,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,0,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,0,...,0.0,Y,12,8,0,NaN,6,21,3,9

# CORELATION BETWEEN ATTRITION AND MONTHLY INCOME

In [10]:
from scipy.stats import pearsonr
stats,p= pearsonr(dataset1.MonthlyIncome, dataset1.Attrition)
stats,p

(-0.031176281698115017, 0.03842748490600132)

# Correlation between Attrition and Age

In [11]:
from scipy.stats import pearsonr
stats,p= pearsonr(dataset1.Age, dataset1.Attrition)
stats,p

(-0.15920500686577943, 1.996801615887666e-26)

# Correlation between Attrition and Education

In [12]:
from scipy.stats import pearsonr
stats,p= pearsonr(dataset1.Education, dataset1.Attrition)
stats,p

(-0.01511116771096876, 0.3157293177118575)

# Correlation between Attrition and Gender

In [13]:
from scipy.stats import pearsonr
stats,p= pearsonr(dataset1.Gender, dataset1.Attrition)
stats,p

(-0.018125078877010273, 0.22881970951790567)

# Correlation between Attrition and Years with current manager#

In [14]:
from scipy.stats import pearsonr
stats,p= pearsonr(dataset1.YearsWithCurrManager, dataset1.Attrition)
stats,p

(-0.1561993159016281, 1.7339322652904162e-25)

# Correlation between Attrition and Years Since Last PromotionÂ¶

In [15]:
from scipy.stats import pearsonr
stats,p= pearsonr(dataset1.YearsSinceLastPromotion, dataset1.Attrition)
stats,p

(-0.03301877514258435, 0.028330336189396753)

# Correlation between Attrition and Number of Percentage Salary Hike

In [16]:
from scipy.stats import pearsonr
stats,p= pearsonr(dataset1.PercentSalaryHike, dataset1.Attrition)
stats,p

(0.032532594891053514, 0.030743386433355353)