In [21]:
import pandas as pd
import numpy  as np
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [22]:
dataset=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [11]:
dataset.drop("ZIP Code",axis=1)

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,3,0.8,1,0,0,0,0,1,1

In [12]:
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [14]:
dataset1=dataset.drop("ZIP Code",axis=1)

In [24]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score="True")

In [25]:
features=dataset1[["ID","Age","Experience","Income","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]]

In [26]:
rf_model.fit(X=features,y=dataset1["Personal Loan"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score='True', random_state=None,
                       verbose=0, warm_start=False)

In [29]:
print("OOB Accuracy:")
print(rf_model.oob_score_);

OOB Accuracy:
0.9866

In [31]:
for feature ,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

ID 0.04732327503872142
Age 0.04158518816705285
Experience 0.04118050780834257
Income 0.3282310296164654
Family 0.08707914936662406
CCAvg 0.18426058830374528
Education 0.15087689308534644
Mortgage 0.04359738435446243
Securities Account 0.005584036366362757
CD Account 0.05254209199739836
Online 0.00806642752954071
CreditCard 0.009673428365937821

In [32]:
pred=dataset1[["CCAvg","Income","Education"]]

In [33]:
tree_model=tree.DecisionTreeClassifier()
tree_model.fit(X=pred,y=dataset1["Personal Loan"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [35]:
with open("Dtwoloan.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["CCAvg","Income","Education"],out_file=f);

In [36]:
tree_model.score(X=pred,y=dataset1["Personal Loan"])

0.9972